*{
margin:0;
padding:0;
}
#header{
width:100%;
border-bottom-style:solid;
font-size:20px;
background-color:#FAF;
}
#menu{
width:10%;
float:left;
border-right-style:solid;
background-color:#DDD;
}
#menuitem{
margin:2px;
background-color:#EEE;
}
#container{
width:85%;
float:left;
margin-left:1%;
background-color:#DED;
}
#error{
width:50%;
margin-right:auto;
margin-left:auto;
text-align:center;
height:50px;
background-color:red;
}
